@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  flex-grow: 1;
  overflow: hidden;
  max-width: 425px;
  border-radius: 10px;
  position: relative;
  background: transparent;
  border: 2px solid yellow;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.search-section {
  display: flex;
  gap: 10px;
  padding: 25px;
  align-items: center;

  .input-wrapper {
    height: 54px;
    width: 100%;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 17px;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }

  .search-input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 0 20px 0 50px;
    border: 1px solid #beb0ff;
    background: #fff;
    transition: 0.1s ease;

    &:focus {
      border-color: #5f41e4;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
    }

    &::placeholder {
      text-transform: none;
    }
  }

  .location-button {
    height: 54px;
    width: 56px;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #fff;
    color: #5f41e4;
    border: 1px solid #beb0ff;
    transition: 0.3s ease;

    &:hover {
      color: #fff;
      background: #5f41e4;
      border-color: #5f41e4;
    }

    span {
      font-size: 1.3rem;
    }
  }
}

.no-results {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  display: none;
  padding: 40px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;

  .title {
    font-weight: 700;
    margin: 25px 0 15px;
  }

  .message {
    font-weight: 500;
    line-height: 23px;
  }
}

body.show-no-results {
  .no-results {
    display: flex;
  }

  .weather-section {
    visibility: hidden;
  }
}

.weather-section {
  .current-weather {
    display: flex;
    padding: 20px 0 50px;
    flex-direction: column;
    align-items: center;

    .weather-icon {
      width: 140px;
      aspect-ratio: 1;
    }

    .temperature {
      font-size: 3.38rem;
      margin: 23px 0;
      display: flex;

      span {
        font-size: 1.56rem;
        font-weight: 500;
        margin: 5px 0 0 2px;
      }
    }

    .description {
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
}

.hourly-weather {
  padding: 16px 25px;
  border-top: 1px solid #d5ccff;

  .weather-list {
    display: flex;
    gap: 41px;
    overflow-x: auto;
    padding-bottom: 16px;
    margin-bottom: -16px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &:hover {
      scrollbar-color: #bfbfbf transparent;
    }

    .weather-item {
      display: flex;
      gap: 7px;
      width: 60px;
      font-weight: 500;
      flex-direction: column;
      align-items: center;

      .weather-icon {
        width: 28px;
        aspect-ratio: 1;
      }
    }
  }
}

/* Responsive media query code for small screen */
@media (max-width: 624px) {
  body {
    padding: 15px;
  }

  .search-section {
    padding: 20px;
  }

  .no-results {
    padding: 30px;
  }

  .hourly-weather {
    padding: 16px 20px;

    .weather-list {
      gap: 32px;
    }
  }
}

.description {
  font-size: 18px;
  color: white;
  font-weight: 800;
  margin: 10px 0;

  br {
    display: block;
    content: "";
    margin: 5px 0;
  }
}